.login-container {
  height: 100%;
  padding: 1rem 0;
  h1 {
    margin-bottom: 1rem;
  }
  form {
    label {
      span {
      }
      input {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
      }
    }
  }
}
