.card {
  height: 100px;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
  .header {
    font-size: 0.8em;
  }
  .content-overview {
    overflow: hidden;
    color: var(--text-color-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: var(--hover-color);
  }
}
