body {
  --background-color: #ffffff;
  --background-color-accent: #dddddd;
  --text-color: #000000;
  --text-color-secondary: rgba(0, 0, 0, 0.5);
  --hover-color: rgba(0, 0, 0, 0.1);
  --divider-color: rgba(0, 0, 0, 0.3);
}
