@import url("./reset.scss");
@import url("./themes/default.scss");
@import url("./themes/dark.scss");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
}

.theme-transition {
  transition: 500ms color, 500ms background-color;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}
