header {
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid var(--divider-color);
  .logo {
    font-size: 1.1rem;
    font-weight: 800;
    .back {
      padding: 3px;
      margin-right: 4px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 200ms;
      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
  .theme-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 200ms;
    &:hover {
      background-color: var(--hover-color);
    }
  }
}
svg {
  fill: var(--text-color);
}
